/**
 * Advanced Color Schemes - Stylesheet
 *
 * Created by: Fabian Jocks (JoCorpNet)
 * Date: 27.02.2015
 */
#acs-cols {
    position: relative;
    clear: both;
}
#acs-col-left {
    margin-right: 300px !important;
}
#acs-col-left form {
    position: relative;
    float: left;
    width: 100%;
}
#acs-col-right {
    float: right;
    width: 281px;
    padding-top: 37px !important;
}


/** WP Box */
.wp-box {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.wp-box .title {
    border-bottom: 1px solid #EEEEEE;
    margin: 0;
    padding: 15px;
    background: #FFFFFF;
}

.wp-box .title h3 {
    font-size: 14px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.wp-box .inner {
    padding: 15px;
}

.wp-box .footer {
    background: #F5F5F5;
    border-top: 1px solid #E1E1E1;
    overflow: hidden;
    padding: 15px;
    position: relative;
}

.wp-box .footer ul.left {
    float: left;
}

.wp-box .footer ul li {
    margin: 0;
    padding: 0;
}

.wp-box .footer ul.left li {
    margin-right: 10px;
}

.wp-box .footer ul.right {
    float: right;
}

.wp-box .footer ul.right li {
    margin-left: 10px;
}

.wp-box h2 {
    color: #333333;
    font-size: 25px;
    line-height: 29px;
    margin: 0.25em 0 0.75em;
    padding: 0;
}

.wp-box h3 {
    margin: 1.5em 0 0;

}

.wp-box p {
    margin-top: 0.5em;
}

.wp-box-half.left {
    width: 50%;
    float: left;
}

.wp-box-half.right {
    width: 50%;
    height: 100%;
    right: 0;
    position: absolute;
    background: none repeat scroll 0 0 #F9F9F9;
    border-left: 1px solid #E1E1E1;
}

.wp-box-half.right .inner {

}

.wp-box select {
    width: 99%;
    height: auto !important;
}

.wp-box .footer-blue {
    border-top: 0 none;
    background-color: #52ACCC;
    color: #FFFFFF;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.wp-box .footer-blue a {
    text-decoration: none;
    text-shadow: none;
}