/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
html {
    background: [#acs::colorBackground];
}


/* Links */
a {
    color: [#acs::colorLink];
}
a:hover, a:active, a:focus, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active {
    color: [#acs::colorLinkActive];
}


/* Forms */
input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
    color: [#acs::colorFormInput];
}

/* Core UI */
.wp-core-ui .button-primary {
    background: [#acs::colorButtonPrimaryBackground];
    border-color: [#acs::colorButtonPrimaryBorder];
    color: [#acs::colorButtonPrimaryText];
    -webkit-box-shadow: inset 0 1px 0 [#acs::colorButtonPrimaryShadowBegin], 0 1px 0 [#acs::colorButtonPrimaryShadowEnd];
    box-shadow: inset 0 1px 0 [#acs::colorButtonPrimaryShadowBegin], 0 1px 0 [#acs::colorButtonPrimaryShadowEnd];
}
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: [#acs::colorButtonPrimaryHoverBackground];
    border-color: [#acs::colorButtonPrimaryHoverBorder];
    color: [#acs::colorButtonPrimaryHoverText];
    -webkit-box-shadow: inset 0 1px 0 [#acs::colorButtonPrimaryHoverShadow];
    box-shadow: inset 0 1px 0 [#acs::colorButtonPrimaryHoverShadow];
}
.wp-core-ui .button-primary:focus {
    -webkit-box-shadow: inset 0 1px 0 [#acs::colorButtonPrimaryFocusShadowBegin], 0 0 0 1px [#acs::colorButtonPrimaryFocusShadowMiddle], 0 0 2px 1px [#acs::colorButtonPrimaryFocusShadowEnd];
    box-shadow: inset 0 1px 0 [#acs::colorButtonPrimaryFocusShadowBegin], 0 0 0 1px [#acs::colorButtonPrimaryFocusShadowMiddle], 0 0 2px 1px [#acs::colorButtonPrimaryFocusShadowEnd];
}
.wp-core-ui .button-primary:active {
    background: [#acs::colorButtonPrimaryActiveBackground];
    border-color: [#acs::colorButtonPrimaryActiveBorder];
    color: [#acs::colorButtonPrimaryActiveText];
    -webkit-box-shadow: inset 0 2px 5px -3px [#acs::colorButtonPrimaryActiveShadowBegin], 0 0 0 1px [#acs::colorButtonPrimaryActiveShadowMiddle], 0 0 2px 1px [#acs::colorButtonPrimaryActiveShadowEnd];
    box-shadow: inset 0 2px 5px -3px [#acs::colorButtonPrimaryActiveShadowBegin], 0 0 0 1px [#acs::colorButtonPrimaryActiveShadowMiddle], 0 0 2px 1px [#acs::colorButtonPrimaryActiveShadowEnd];
}
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled {
    color: [#acs::colorButtonPrimaryDisabledText] !important;
    background: [#acs::colorButtonPrimaryDisabledBackground] !important;
    border-color: [#acs::colorButtonPrimaryDisabledBorder] !important;
    text-shadow: none !important;
}
.wp-core-ui .wp-ui-primary {
    color: [#acs::colorPrimaryText];
    background-color: [#acs::colorPrimaryBackground];
}
.wp-core-ui .wp-ui-text-primary {
    color: [#acs::colorPrimaryBackground];
}
.wp-core-ui .wp-ui-highlight {
    color: [#acs::colorHighlightText];
    background-color: [#acs::colorHighlightBackground];
}
.wp-core-ui .wp-ui-text-highlight {
    color: [#acs::colorHighlightBackground];
}
.wp-core-ui .wp-ui-notification {
    color: [#acs::colorNotificationText];
    background-color: [#acs::colorNotificationBackground];
}
.wp-core-ui .wp-ui-text-notification {
    color: [#acs::colorNotificationBackground];
}
.wp-core-ui .wp-ui-text-icon {
    color: [#acs::colorIcon];
}


/* List tables */
.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus {
    color: [#acs::colorTableButtonText];
    background-color: [#acs::colorTableButtonBackground];
}
.view-switch a.current:before {
    color: [#acs::colorTableSwitchText];
}
.view-switch a:hover:before {
    color: [#acs::colorTableSwitchHoverText];
}
.post-com-count:hover:after {
    border-top-color: [#acs::colorTableCommentHoverBorder];
}
.post-com-count:hover span {
    color: [#acs::colorTableCommentHoverText];
    background-color: [#acs::colorTableCommentHoverBackground];
}
strong .post-com-count span,
strong .post-com-count:after {
    border-top-color: [#acs::colorTableSwitchHoverText];
}


/* Admin Menu */
#adminmenuback, #adminmenuwrap, #adminmenu {
    background: [#acs::colorMenuBackground];
}
#adminmenu div.wp-menu-image:before {
    color: [#acs::colorMenuIconText];
}
#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
    color: [#acs::colorMenuHoverText];
    background-color: [#acs::colorMenuHoverBackground];
}
#adminmenu a, #adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
    color: [#acs::colorMenuText];
}


/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover {
    background-color: [#acs::colorMenuTabActiveBackground];
    border-bottom-color: [#acs::colorMenuTabActiveBorder];
}


/* Admin Menu: submenu */
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
    background: [#acs::colorMenuSubBackground];
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
    border-right-color: [#acs::colorMenuSubBorder];
}
#adminmenu .wp-submenu .wp-submenu-head, #adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
    color: [#acs::colorMenuSubText];
}
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: [#acs::colorMenuSubHoverText];
}


/* Admin Menu: current */
#adminmenu li.wp-has-current-submenu div.wp-menu-image:before, #adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: [#acs::colorMenuCurrentText];
}
ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
    border-right-color: [#acs::colorMenuCurrentBorder];
}
#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top {
    color: [#acs::colorMenuCurrentSubText];
    background: [#acs::colorMenuCurrentSubBackground];
}


/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
    color: [#acs::colorMenuBubbleText];
    background: [#acs::colorMenuBubbleBackground];
}
#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins {
    color: [#acs::colorMenuBubbleSubText];
    background: [#acs::colorMenuBubbleSubBackground];
}


/* Admin Menu: collapse button */
#collapse-menu, #collapse-button div:after {
    color: [#acs::colorMenuCollapseText];
}
#collapse-menu:hover, #collapse-menu:hover #collapse-button div:after {
    color: [#acs::colorMenuCollapseHoverText];
}


/* Admin Bar */
#wpadminbar {
    color: [#acs::colorBarText];
    background: [#acs::colorBarBackground];
}
#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after {
    color: [#acs::colorBarIcon];
}
#wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
    color: [#acs::colorBarHoverText];
    background: [#acs::colorBarHoverBackground];
}
#wpadminbar > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label, #wpadminbar > #wp-toolbar a:focus span.ab-label, #wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before {
    color: [#acs::colorBarHoverText];
}


/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
    background: [#acs::colorBarSubBackground];
}
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
    background: [#acs::colorBarSubItemBackground];
}
#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar-nojs .quicklinks .menupop:hover ul li a {
    color: [#acs::colorBarSubItemText];
}
#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before {
    color: [#acs::colorBarSubItemText];
}
#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li.hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before {
    color: [#acs::colorBarSubItemText];
}


/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
    color: [#acs::colorBarSearchText];
}
#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
    color: [#acs::colorBarSearchFocusText];
    background: [#acs::colorBarSearchFocusBackground];
}
#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder, #wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder, #wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder, #wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
    color: [#acs::colorBarSearchPlaceholderText];
    opacity: 0.7;
}


/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
    border-color: [#acs::colorBarAccountBorder];
    background-color: [#acs::colorBarAccountBackground];
}
#wpadminbar #wp-admin-bar-user-info a:hover .display-name, #wpadminbar #wp-admin-bar-user-info .display-name {
    color: [#acs::colorBarAccountText];
}
#wpadminbar #wp-admin-bar-user-info .username {
    color: [#acs::colorBarAccountHighlightText];
}


/* Pointers */
.wp-pointer .wp-pointer-content h3 {
    background-color: [#acs::colorPointersBackground];
    border-color: [#acs::colorPointersBorder];
}
.wp-pointer .wp-pointer-content h3:before {
    color: [#acs::colorPointersText];
}
.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
    border-bottom-color: [#acs::colorPointersIcon];
}


/* Media */
.media-item .bar, .media-progress-bar div {
    background-color: [#acs::colorMediaProgressBackground];
}
.details.attachment {
    -webkit-box-shadow: inset 0 0 0 3px [#acs::colorMediaShadowBegin], inset 0 0 0 7px [#acs::colorMediaShadowEnd];
    box-shadow: inset 0 0 0 3px [#acs::colorMediaShadowBegin], inset 0 0 0 7px [#acs::colorMediaShadowEnd];
}
.attachment.details .check {
    background-color: [#acs::colorMediaProgressBackground];
    -webkit-box-shadow: 0 0 0 1px [#acs::colorMediaShadowBegin], 0 0 0 2px [#acs::colorMediaShadowEnd];
    box-shadow: 0 0 0 1px [#acs::colorMediaShadowBegin], 0 0 0 2px [#acs::colorMediaShadowEnd];
}
.media-selection .attachment.selection.details .thumbnail {
    -webkit-box-shadow: 0px 0px 0px 1px [#acs::colorMediaShadowBegin], 0px 0px 0px 3px [#acs::colorMediaShadowEnd];
    box-shadow: 0px 0px 0px 1px [#acs::colorMediaShadowBegin], 0px 0px 0px 3px [#acs::colorMediaShadowEnd];
}


/* Themes */
.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme:hover:after {
    background: [#acs::colorThemesBrowserBackground];
}
.theme-browser .theme.add-new-theme:hover span:after {
    color: [#acs::colorThemesBrowserText];
}
.theme-section.current, .theme-filter.current {
    border-bottom-color: [#acs::colorThemesFiltersBorder];
}
body.more-filters-opened .more-filters {
    color: [#acs::colorThemesFiltersText];
    background-color: [#acs::colorThemesFiltersBackground];
}
body.more-filters-opened .more-filters:hover, body.more-filters-opened .more-filters:focus {
    background-color: [#acs::colorThemesFiltersHoverBackground];
    color: [#acs::colorThemesFiltersHoverText];
}
body.more-filters-opened .more-filters:before, body.more-filters-opened .more-filters:hover:before, body.more-filters-opened .more-filters:focus:before {
    color: [#acs::colorThemesFiltersHoverText];
}


/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
    background-color: [#acs::colorWidgetsBackground];
    color: [#acs::colorWidgetsText];
}
.widgets-chooser li.widgets-chooser-selected:before, .widgets-chooser li.widgets-chooser-selected:focus:before {
    color: [#acs::colorWidgetsText];
}


/* Customize */
#customize-theme-controls .widget-area-select .selected {
    background-color: [#acs::colorCustomizeBackground];
    color: [#acs::colorCustomizeText];
}


/* jQuery UI Slider */
.wp-slider .ui-slider-handle, .wp-slider .ui-slider-handle.ui-state-hover, .wp-slider .ui-slider-handle.focus {
    background: [#acs::colorSliderBackground];
    border-color: [#acs::colorSliderBorder];
    -webkit-box-shadow: inset 0 1px 0 [#acs::colorSliderShadowBegin], 0 1px 0 [#acs::colorSliderShadowEnd];
    box-shadow: inset 0 1px 0 [#acs::colorSliderShadowBegin], 0 1px 0 [#acs::colorSliderShadowEnd];
}


/* Thickbox: Plugin information */
#sidemenu a.current {
    background: [#acs::colorPopupBackground];
    border-bottom-color: [#acs::colorPopupBorder];
}
#plugin-information .action-button {
    background: [#acs::colorPopupButtonBackground];
}


/* Responsive Component */
div#wp-responsive-toggle a:before {
    color: [#acs::colorResponsiveText];
}
.wp-responsive-open div#wp-responsive-toggle a {
    border-color: [#acs::colorResponsiveBorder];
    background: [#acs::colorResponsiveBackground];
}
.star-rating .star {
    color: [#acs::colorResponsiveStar];
}
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
    background: [#acs::colorResponsiveOpenBackground];
}